{% extends "interface/base.html" %}
{% block body_block %}

<section id="three" class="wrapper style1 fade-up">
  <div class="inner">
    <h1>Topics</h1>
  </div>
</section>
{% if user.is_authenticated %}
            <!-- was a topic added? -->
            {% if topic_added %}
            <section id="main" class="wrapper">
  						<div class="inner">
                          <h3>You opened a new topic!</h3>
                  </div>
              </section>
            {% endif %}
            <!-- was a topic added? -->
            {% if topic_deleted %}
            <section id="main" class="wrapper">
  						<div class="inner">
                          <h3>You closed a topic!</h3>
                </div>
            </section>
            {% endif %}

<!-- section to add topic -->
            <section class="wrapper style2 spotlights">
              <section>
                <div class="content">
                  <div class="inner">
                        <!-- add topic form -->
                        <form enctype="multipart/form-data" method="POST">
                            <div class="fields">
                              <div class="field">
                                {% csrf_token %}
                                {{ create_topic_form.knot_topic}}
                              </div>
                            </div>
                            <input type="hidden" name="topic_to_add" id ="topic_to_add" value="topic_to_add">
                            <a href="#" class="button submit icon solid fa-save">Open Topic</a>
                        </form>
                  </div>
                </div>
              </section>
            </section>

<!-- section to view topic list-->
            <section id="two" class="wrapper style3 fade-up">
              <div class="inner">
                <h2>Current Topics</h2>
                <div class="row">
                      <table>
                            {% for topic in topics_list_query %}
                                      <tr>
                                          <td>
                                              <h4>{{ topic }}</h4>
                                          </td>
                                          <td>
                                              <form class=""method="post">
                                                {% csrf_token %}
                                                <!-- add a button to delete topic -->
                                                <input type="hidden" name = "topic_to_delete" id="topic_to_delete" value="{{topic}}">
                                                <a href="#" class="button submit icon solid fa-trash-alt">close Topic</a>
                                              </form>
                                          </td>
                                      </tr>
                            {% endfor %}
                        </table>
                  </div>
              </div>
            </section>

<!-- if not authenticated -->
  {% else %}
              <section class="wrapper style2 spotlights">
                <section>
                  <div class="content">
                    <div class="inner">
                      <h3>Please login to access this page!</h3>
                    </div>
                  </div>
                </section>
              </section>
  {% endif %}


{% endblock %}
