{% extends 'interface/base.html' %}
{% block body_block %}
  <section id="three" class="wrapper style1 fade-up">
    <div class="inner">
      <h1>LOGIN</h1>
      <div class="split style1">
        <section>
          <form method="post" action="{% url 'usermanagement:user_login' %}">
            <div class="fields">
                {% csrf_token %}
                {# A more "HTML" way of creating the login form#}
                <div class="field">
                  <label for="username">Username</label>
                  <input type="text" name="username" >
								</div>
                <div class="field">
                  <label for="password">Password</label>
                  <input type="password" name="password">
								</div>
            </div>
            <ul class="actions">
                <li><a href="" class="button submit">Login</a></li>
            </ul>
          </form>
        </section>
{% endblock %}
